# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore IDE/editor specific files
.idea/
.vscode/

# Ignore environment configuration files
.env
